@page
@model Q2.Pages.StarsModel
@{
}

<h1>Search Star</h1>
<form method="get" class="row m-3">
    <input class="col-lg-3" id="nationality" value="@Model?.StarFilter?.Nationality" name="StarFilter.Nationality" type="text" placeholder="Nationality" />
    <input class="col-lg-3" id="gender" value="@Model?.StarFilter?.Gender" name="StarFilter.Gender" type="text" placeholder="Gender" />
    <button class="col-lg-3 btn btn-success" id="search-btn">Search</button>
</form>
@if (Model?.Stars != null)
{
<div id="table-area" class="m-1 d-flex">
    <div class="col-lg-6">
        <table border="1">
            <thead>
                <th>StarId</th>
                <th>Fullname</th>
                <th>Gender</th>
                <th>Dob</th>
                <th>Description</th>
                <th>Nationality</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>

                    @foreach (var item in Model.Stars)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.FullName</td>
                            <td>@item.Male</td>
                            <td>@item.Dob</td>
                            <td>@item.Description</td>
                            <td>@item.Nationality</td>
                            <td>
                                <a asp-route-StarFilter.Nationality="@Model?.StarFilter?.Nationality"
                                   asp-route-StarFilter.Gender="@Model?.StarFilter?.Gender"
                                   asp-route-id="@item.Id">Detail</a>
                            </td>
                            <td>
                                <form method="post" asp-page-handler="Delete" asp-route-id="@item.Id" onsubmit="return confirmDelete()">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
    <div class="col-lg-6" id="detail-area">
            @if (Model.Star != null)
            {
                <h1>List of movies of @Model.Star.FullName</h1>
                @foreach (var item in Model.Star.Movies)
                {
                    <p>@item.Title  - Release year: @item.ReleaseDate</p>
                }
            }
        </div>
</div>

    <div>
        <h1>Create Star</h1>
        <form method="post">
            <div class="form-group">
                <label for="FullName">FullName</label>
                <input class="form-control" id="FullName" asp-for="StarRequest.FullName" />
            </div>
            <div class="form-group">
                <label>Gender</label>
                <div>
                    <label class="checkbox-inline">
                        <input type="radio" value="true" name="StarRequest.Male" checked="@Model.StarRequest.Male"/> Male
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" value="false" name="StarRequest.Male" checked="@(Model.StarRequest.Male == false)" /> Female
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="Dob">Dob</label>
                <input class="form-control" type="date" id="Dob" asp-for="StarRequest.Dob" />
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input class="form-control" id="Description" asp-for="StarRequest.Description" />
            </div>

            <div class="form-group">
                <label for="Nationality">Nationality</label>
                <input class="form-control" id="Nationality" asp-for="StarRequest.Nationality" />
            </div>
            <div>
                @if (Model.Movies != null)
                {
                    @for (int i = 0; i < Model.Movies.Count; i++)
                    {
                        var movie = Model.Movies[i];
                        if (movie != null)
                        {
                            <label>
                                <input type="checkbox" name="StarRequest.MovieIds" value="@movie.Id.ToString()" checked="@(Model.StarRequest != null && Model.StarRequest.MovieIds != null && Model.StarRequest.MovieIds.Contains(movie.Id))" />
                                @movie.Title
                            </label>
                        }
                    }
                }

            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>

}