@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="get">
    <label for="nationalityFilter">Filter by Nationality:</label>
    <input type="text" id="nationalityFilter" name="Filter.Nationality" value="@Model?.Filter?.Nationality" />

    <label for="genderFilter">Filter by Gender:</label>
    <input type="text" id="genderFilter" name="Filter.Gender" value="@Model?.Filter?.Gender" />

    <button type="submit">Apply Filters</button>
</form>

@if (Model.Directors != null)
{
    <div class="container">
        <div id="table-area" class="d-flex">
            <div class="col-lg-6">
                <table border="1">
                    <thead>
                        <th>Id</th>
                        <th>Fullname</th>
                        <th>Male</th>
                        <th>Dob</th>
                        <th>Description</th>
                        <th>Nationality</th>
                        <th></th>
                    </thead>
                    <tbody>
                        @foreach (var director in Model.Directors)
                        {
                            <tr>
                                <td>@director.Id</td>
                                <td>@director.FullName</td>
                                <td>@director.Male</td>
                                <td>@director.Dob</td>
                                <td>@director.Description</td>
                                <td>@director.Nationality</td>
                                <td>
                                    <a asp-route-filter.Nationality="@Model?.Filter?.Nationality"
                                       asp-route-filter.Gender="@Model?.Filter?.Gender"
                                       asp-route-id="@director.Id">Detail</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6" id="detail-area">
                @if (Model.Director != null)
                {
                    <h2>@Model.Director.FullName</h2>
                    <ul>
                        @foreach (var o in Model.Director.Movies)
                        {
                            <li>@o.Title</li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
}

<div>
    <h1>Create Director</h1>
    <form method="post">
        <div class="form-group">
            <label for="fullName">Full Name</label>
            <input class="form-control" id="fullName" asp-for="DirectorRequest.FullName" />
        </div>
        <div class="form-group">
            <label>Gender</label>
            <div>
                <label class="checkbox-inline">
                    <input type="radio" value="true" name="gender" asp-for="DirectorRequest.Male" /> Male
                </label>
                <label class="checkbox-inline">
                    <input type="radio" value="false" name="gender" asp-for="DirectorRequest.Male" /> Female
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input class="form-control" id="dob" type="date" asp-for="DirectorRequest.Dob" />
        </div>
        <div class="form-group">
            <label for="nationality">Nationality</label>
            <input class="form-control" id="nationality" asp-for="DirectorRequest.Nationality" />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" asp-for="DirectorRequest.Description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>